<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093558897323-6gfk1v5ris90mft918mmm1uk5ph4ojk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093558897323-6gfk1v5ris90mft918mmm1uk5ph4ojk8</string>
	<key>API_KEY</key>
	<string>AIzaSyCCUqjySSmyCBgmgiBxP7GEZipfkIJGdKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1093558897323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forum</string>
	<key>PROJECT_ID</key>
	<string>forum-e1e9e</string>
	<key>STORAGE_BUCKET</key>
	<string>forum-e1e9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093558897323:ios:11a4f247d64f0d12ab85ee</string>
</dict>
</plist>