@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.navi {
    z-index: 2;
    width: 300px;
    background: white;
    color: #00a082;
    -webkit-clip-path: circle(24px at 30px 24px);
    clip-path: circle(24px at 32px 24px);
    -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
    transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
}

.navi:hover {
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
    -webkit-clip-path: circle(2000px at 300px 40px);
    clip-path: circle(2000px at 200px 40px);
}

a {
    display: block;
    line-height: 50px;
    padding: 0 10px;
    color: inherit;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navi a:hover {
    background: #ffe082;
}

.navi a:active {
    background: #ffca28;
}

.navicon {
    padding: 23px 20px;
    cursor: pointer;
    -webkit-transform-origin: 32px 24px;
    -ms-transform-origin: 32px 24px;
    transform-origin: 32px 24px;
}

.navicon div {
    position: relative;
    width: 20px;
    height: 2px;
    background: #00a082;
}

.navicon div:before,
.navicon div:after {
    display: block;
    content: "";
    width: 20px;
    height: 2px;
    background: #00a082;
    position: absolute;
}

.navicon div:before {
    top: -7px;
}

.navicon div:after {
    top: 7px;
}